.gradle
build/
classes/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.java-version
.idea
springfox-demos.iml
boot-swagger/out/production/resources/application.properties
boot-static-docs/src/main/java/springfoxdemo/staticdocs/Application.java
boot-static-docs/src/main/java/springfoxdemo/staticdocs/Application.java
